.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  width: 100%;
    background-color: #fff;
    height:49px;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.heading1{
  font-size: 14px;
    line-height: 1.25;
    color: #323232;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0px;
}
.box1{
  /* margin: 0px 20px 0 16px; */
    min-width: 0px;
    display: block;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    margin-top: 12px;
}
.heading2{
  color: #707070;
    line-height: 14px;
    font-size: 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    padding-top: 2px;
}
.block1{
  width:979px;
  height:527px;
  margin-top: 20px;
  background-color: rgb(242, 245, 250);
  position: relative;
}
.block2{
  width: 973px;
  height: 489px;
  background-color:white;
  position: absolute;
  margin-top: -8px;
  border:1px solid rgb(232, 232, 232);
  max-height: 470px;
    overflow-y: scroll;
  
}
.sideblock{
  width: 18%;
    height: 500px;
    position: absolute;
    z-index: 1;
    top: auto;
    margin-left: -488px;
    display: inline-block;
    border-right: 1px solid rgb(232, 232, 232);
}

.checkbox{
  border-radius:0px;
  vertical-align: middle;
  margin-left: -3px;
}
.recycle{
  height:20px;
  width:15px;
  vertical-align: middle;
  margin-left: 70px;
}
.people{
  vertical-align: middle;
  font-size: 12px;
}
.button1{
  border: none;
  border:1px solid rgb(232, 232, 232);
  width: 168px;
    height: 32px;
    background: white;
    outline: none;
    margin-top: 10px;
}
.checkbox1{
  margin-left: -116px;
    vertical-align: middle;
  vertical-align: middle;
}
.user{
  margin-left: 31px;
    vertical-align: middle;
    font-size: 11px;
    display: inline-block;
    position: absolute;
    padding-top: 3px;
}
.icon1{
  height:10px;
  width:10px;
  vertical-align: middle;
}

.content {
  margin-top: -219px;
    height: 443px;
    width: 693px;
    margin-left: 227px;
}
.close1 {
  position: absolute;
  right: 25px;
  top: 64px;
  left: 3px;
  border: none;
  color: rgb(56, 54, 54);
  background: none;
  outline: none;
  font-size: 21px;
}
/* .block3{
  background-color: blue;
} */
.namedesign{
  border-bottom: 1px solid rgb(232, 232, 232);
    width: 165px;
    text-align: left;
    margin-top: -20px;
    font-size: 17px;
    margin-left: 40px;
    display: inline-block;
}
.blockname{
  margin-top: 30px;
  display: block;
}
.name{
  margin-left: -160px;
    font-size: 19px
}
.data{
  margin-left: -20px;
    font-size: 19px;
}
.datades{
  border-bottom: 1px solid rgb(232, 232, 232);
  width: 300px;
  text-align: left;
  margin-top: 38px;
  font-size: 17px;
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: "----"; 
}
.id{
  margin-left: -154px;
  font-size: 19px
}
.identification{
  border-bottom: 1px solid rgb(232, 232, 232);
  width: 165px;
  text-align: left;
  margin-top: 37px;
  font-size: 17px;
  margin-left: 115px;
  display: inline-block;
}
/*adding page*/
.modal {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  margin-top: -50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(219, 210, 210, 0.945); */
  padding-top: 60px;
}
.cancel {
  border: none;
  background-color: transparent;
  margin-left: 4px;
  outline: none;
  margin-top: 14px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  box-shadow: 2px 3px 5px 3px #eeebeb;
  width: 32%;
    height: 450px;
    margin-left: 260px;
    margin-top: 117px;
}
.contentpage{
  height: 40px;
    width: 17px;
    border: none;
    background: transparent;
    margin-left: 850px;
    outline: none;
}
.fa.fa-plus-circle{
  height:50px;
  width:50px;
  color: blue;
  margin-top: 5px;
  margin-left: -22px;
  font-size: 22px;
}

  .close {
    right: 25px;
    top: 0;
    color: #000;
    font-size: 45px;
    font-weight: 200;
    margin-left: 248px;
    cursor: pointer;
}
.user2{
    height: 45px;
    width: 45px;
    margin-left: 2px;
    margin-top: 16px;
}
.name1{
  margin-top: 30px;
  margin-left: -41px;

}
.text1{
  margin-top: 51px;
  height: 25px;
  width: 250px;
  margin-left: 40px;
}
.name2{
  margin-top: 30px;
    margin-left: -39px;

}
.user1 {
  height: 45px;
  width: 45px;
  margin-left: -536px;
  margin-top: 54px;
}
.text2{
  margin-top: 24px;
  height: 25px;
  width: 250px;
  margin-left: 69px;
}
.textarea{
  margin-top: 30px;
  margin-left: -45px;
  vertical-align: middle;
}
.f2{
  margin-top: 24px;
  height: 93px;
    width: 248px;
    margin-left: 10px;
    vertical-align: middle;
}
textarea{
  resize: none;
}
.adduser {
  border: none;
  height: 42px;
  width: 113px;
  border-radius: 37px;
  background-color: blue;
  color: white;
  margin-left: 228px;
    outline: none;
    margin-top: -29px;
}
.dynamic-form .form-label {
  text-align: left;
  margin-top: 25px;
}
.dynamic-form .form-input{
  margin-top: 5px;
  line-height: 1.5em;
  width: 239px;
  margin-left: 97px;
  margin-top: -20px;
}
.dynamic-form .form-group {
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.dynamic-form {
  background-color: #fefefe;
    margin: 5% auto 15% auto;
    box-shadow: 2px 3px 5px 3px #eeebeb;
    width: 27%;
    height: 350px;
    margin-left: 301px;
    margin-top: 160px;
}
.user2 {
  height: 45px;
  width: 45px;
  margin-left: -19px;
  margin-top: 16px;
}